/*tab 切换*/
.weui_navbar_item{
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    /* align-items: center; */
    line-height: 25px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.weui_navbar_item::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #CCCCCC;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}
.weui_navbar_item
.weui_bar_item_on {
    color: #2196F3;
    transition: all 0.5s ease-in;
}