<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>首页</title>
    <!-- Jquery  -->
    <script th:src="@{/common/js/jquery.min.js}"></script>
    <!--css加載-->
    <!--weui css-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <!--jQuery weui-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>
<body>
    openId:<h1 th:text="${wxMpUser.openId}"></h1>
    nickname:<h1 th:text="${wxMpUser.nickname}"></h1>
    sex:<h1 th:text="${wxMpUser.sex}"></h1>
    language:<h1 th:text="${wxMpUser.language}"></h1>
    city:<h1 th:text="${wxMpUser.city}"></h1>
    province:<h1 th:text="${wxMpUser.province}"></h1>
    country:<h1 th:text="${wxMpUser.country}"></h1>
    headImgUrl:<img th:src="${wxMpUser.headImgUrl}">
    <!--js加載-->
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</body>
<script th:inline="javascript">

</script>
</html>